{% extends "shopapp/base.html" %}

{% block title %}groups{% endblock %}

{% block body %}
<h1>Groups:</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create groups</button>
</form>
<div>
    {% if not groups %}
        No group yet
    {% else %}
    <ul>
        {% for group in groups %}
            <li>
                <div>{{ group.name }}</div>
                <ul>
                    {% for permission in group.permissions.all %}
                    <li>{{ permission.name }}
                        <code>({{permission.codename}})</code>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock %}