{% extends 'shopapp/base.html' %}
{% block title %}
Order #{{ order.pk }}
{% endblock %}
{% block body %}
<p>Order #{{ order.pk }}</p>
<p>Order by {% firstof order.user.first_name order.user.username %}</p>
    <p>Promocode: {% firstof order.promocode "No promocode" %}</p>
    <p>Delivery address: {{order.delivery_address}}</p>
    <p>Created at: {{order.created_at}}</p>
    <div>Product in order:
        <ul>
            {% for product in order.products.all %}
            <li>{{ product.name }} for ${{ product.price }}</li>
            {% endfor %}
        </ul>
    </div>
    <p><a href="{% url 'shopapp:order_update' pk=order.pk %}">Update order</a></p>
    <p><a href="{% url 'shopapp:order_delete' pk=order.pk %}">Delete order</a></p>
    <p><a href="{% url 'shopapp:user_order_export' user_id=order.user.pk %}">Export order</a></p>
    <p><a href="{% url 'shopapp:user_orders_list' user_id=order.user.pk %}">Back to user orders</a></p>
{% endblock %}